**/__pycache__
datasets/
exp/
results/
/attacks/*.hdf5 
/attacks/model.pth
/attacks/test.ipynb
/attacks/sample_model.py
/attacks/loggers/
/attacks/mnist
/attacks/cifar/
./attacks/cifar10
/cifar10
/cifar
.DS_Store
./attacks_adv/test.ipynb
/attacks_adv/.ipynb_checkpoints/
/attacks_adv/sample.png
/attacks_adv/.ipynb_checkpoints/test-checkpoint.ipynb
/attacks_adv/test.ipynb




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

/checkpoints/*
/loggers/*
/attacks_adv/output.xlsx
/attacks_adv/plot_diffused.py
/attacks_adv/table.txt
/attacks_adv/test.ipynb